<h4>Book list</h4>
<div class="row">
  <table *ngIf="books; else loading" class="table table-bordered">
    <thead>
      <tr>
        <td>Id</td>
        <th>Title</th>
        <th>Author</th>
        <th>IdentificationNumber</th>
        <th>Goto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.identificationNumber}}</td>
        <td><a [routerLink]="['/book', book.id]">Books</a></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>Loading...</ng-template>
