<h4>Loan list</h4>
<app-add-loan></app-add-loan>
<div *ngIf="loansDetailed; else loading" class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Id</td>
        <th>Book Title</th>
        <th>User Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loanDetailed of loansDetailed" [ngClass]="{ active: (selectedUser && user.id === selectedUser.id) }" (click)="selectUser(user)">
        <td>{{loanDetailed.id}}</td>
        <td>{{loanDetailed.bookTitle}}</td>
        <td>{{loanDetailed.userName}}</td>
        <td><button (click)="deleteLoan(loanDetailed)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>Loading...</ng-template>
