<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">{{user.userName}} details!</div>
      <div class="panel-body">
        <div>
          <label>Login: </label> {{user.login}}
        </div>
        <div class="form-inline">
          <label>Name: </label>
          <input [(ngModel)]="user.name" placeholder="Name" class="form-control" />
        </div>
        <div style="padding-top: 10px">
          <button (click)="delete(user); user.login=''; user.userName='';" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
